<html>
    <head>
        <title>Add message</title>
    </head>
    <body>
        <form method="POST" action="/new">
            <h2>New message</h2>
            <input type="text" id="author" name="author" placeholder="Author...">
            <input type="text" id="message" name="message" placeholder="Message...">
            <input type="submit" value="submit">
        </form>
    </body>
</html>